.game-screen {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(
		to bottom,
		#272727 80%,
		#181818 100%
	);
	z-index: -2;
	pointer-events: none;
}

.table-edge {
	position: absolute;
	height: 92vh;
    width: 96vw;
    background: conic-gradient(
		at 50% -20%,
		#27150b,
		#4d3020,
		#301d12
	);
    border-radius: 50vw;
    border: .3vh solid rgb(87, 59, 27);
    box-sizing: border-box;
    left: 2vw;
	top: 4vh;
	z-index: -1;
}

.gameBoard {
    height: 88vh;
    width: 94vw;
	background-image: conic-gradient(
		at 50% -20%,
        #440101,
        #91372b,
        #440101
    );
	background-clip: border-box;
    border-radius: 50vw;
    border: 1px solid #EC9A29;
    box-sizing: border-box;
    margin: 6vh auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
    padding: 40px;
}

.game-button {
    display: inline-block;

    color: black;
    text-align: center;
    text-decoration: none;
	font-size: 2vw;

	font-family: 'Rowdies Regular';
    
    cursor: pointer;

    width: 10vw;
    
    margin: 4px 2px;
    padding: 10px 20px;
    
    background-color: #e4e4d6;

	pointer-events: auto;
}

.game-button:hover{
	background: linear-gradient(
		to bottom,
		#e4e4d6,
		#c0c0b0
	);
}

.dealer {
	grid-column: 2;
	grid-row: 1;

	display: grid;
	grid-template-columns: auto auto;

	margin: 6vh auto;
}

/* ==========For Each Player================ */

.player1 {
	grid-column: 2;
	grid-row: 2;

	display: grid;
	grid-template-columns: auto auto;

	margin: 6vh auto;
}

.player1 .countBox {
	color: rgba(255, 255, 255, .4);
}

.dealer .countBox {
	color: rgba(255, 255, 255, .4);
}

.cardSection {
	position: relative;
	grid-column: 1;
	width: 14vw;
	height: 25vh;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.countContainer {
	position: relative;
	grid-column: 2;
	width: 20vh;
	
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.countBox {
	position: absolute;
	right: 0;
	
	text-align: center;
	font-size: 4vh;
	font-family: 'Rowdies Regular';
	color: rgba(255, 255, 255, .2);
	
	padding: 2vh;
	
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, .2);
}

.countLabel {
	margin: 0 auto 1vh;
}

.countValue {
	font-size: 5vh;
	font-weight: bold;
}

/* =============================== Specific Player Positioning ========================================= */

.player2 {
	/* bottom left */
	grid-column: 1;
	grid-row: 2;

	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;

	margin: 6vh auto;
}

.player2 > .countContainer {
	grid-column: 2;
	grid-row: 1;
	height: 8vh;
	width: 10vh;
}

.player2 > .cardSection {
	grid-column: 1;
	grid-row: 2;
	transform: rotate(45deg);
}

.player2 > .countContainer > .countBox {
	top: 0;
	right: 0;
	font-size: 2vh;
	padding: 1vh 2vh;
}

.player2 > .countContainer > .countBox > .countValue {
	font-size: 2vh;
}

.player3 {
	/* bottom right */
	grid-column: 3;
	grid-row: 2;

	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;

	margin: 6vh auto;
}

.player3 > .countContainer {
	grid-column: 1;
	grid-row: 1;
	height: 8vh;
	width: 10vh;
}

.player3 > .cardSection {
	grid-column: 2;
	grid-row: 2;
	transform: rotate(-45deg) translateY(-2vh) translateX(6vh);
}

.player3 > .countContainer > .countBox {
	right: 0;
	top: 0;
	font-size: 2vh;
	padding: 1vh 2vh;
}

.player3 > .countContainer > .countBox > .countValue {
	font-size: 2vh;
}

.player4 {
	/* top left */
	grid-column: 1;
	grid-row: 1;

	transform: rotate(90deg) translateX(8vh);

	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;

	margin: 0 auto;
}

.player4 > .countContainer {
	grid-column: 1;
	grid-row: 1;
	height: 12vh;
}

.player4 > .cardSection {
	grid-column: 1;
	grid-row: 2;
}

.player4 > .countContainer > .countBox {
	transform: rotate(-90deg);
	right: 0;
	top: 0;
	font-size: 2vh;
	padding: 1vh 2vh;
}

.player4 > .countContainer > .countBox > .countValue {
	font-size: 2vh;
}

.player5 {
	/* top right */
	grid-column: 3;
	grid-row: 1;

	transform: rotate(-90deg);

	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;

	margin: 6vh auto;
}

/* ========== At The Bottom of the Page ================ */

.game-controls {
	position: absolute;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 1fr;
	width: fit-content;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.disconnect {
	position: absolute;
	width: fit-content;
	top: 0;
	right: 2vw;
}

/* ============= The Start Game Button ============== */

.start-game {
	position: relative;
	grid-column: 2;
	grid-row: 1;
}

.start-btn {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: fit-content;
}