.playing-card {
    position: absolute;
    top: 0;
}

.playing-card > img {
    height: 25vh;
    width: calc(25vh * (5/7));

    pointer-events: none;
}

@media screen and (orientation: portrait) {
    .playing-card > img{
        height: 20vw;
        width: calc(20vw * (5/7));
    }
}