.playing-card {
    position: absolute;
    top: 0;
}

.playing-card > img {
    height: 25vh;

    pointer-events: none;
}

@media screen and (orientation: portrait) {
    .playing-card > img{
        height: 25vw;
    }
}