.hit-btn {
    grid-column: 1;
    grid-row: 1;
}

.stand-btn {
    grid-column: 2;
    grid-row: 1;
}

.disconnect-btn {
    background-color: #6B0202;
    pointer-events: auto;
}

.disconnect-btn:hover{
    background: linear-gradient(#972222,#6B0202);
}